In [1]:
# Libs initialization
import pandas as pd
import collections
import math
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/zer0deck/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/zer0deck/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/zer0deck/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

# 1. Data file preparation
</br> Retrieving Data from a dataset collected using the Twitter API, renaming classes and randomizing.

In [2]:
df = pd.read_csv('Data.csv', sep= ';', index_col=0)
df = df.dropna()
df.shape
df.drop_duplicates(subset={'Text'}, inplace=True)
df.head(7)

                                                    Text  Class True class
Index
1.0    This is what it’s all about. The cut and thrus...  Sport      Sport
2.0    WHO WILL WIN? ITALY - 1.66 SWITZERLAND-6.0DRAW...  Sport      Sport
3.0        Laporta becomes a member of the RFEF Council.  Sport      Sport
4.0    HE'S DONE IT!! Eliud Kipchoge achieves 'the im...  Sport      Sport
5.0    I know this is not the first time I've said th...  Sport      Sport
6.0    Finish pencil work of Anthony Oluwafemi Olasen...  Sport      Sport
7.0            Greetings from the Sport Industry Awards!  Sport      Sport

In [3]:
# Converting Class names to codes/numbers
j = df['True class'].unique().tolist()
z = df['True class'].unique().tolist()
for i in range (0, len(j)):
    df.loc[df['True class'] == j[i], 'True class'] = i
    df.loc[df['Class'] == j[i], 'Class'] = i
df = df.sample(frac=1).reset_index(drop=True)

In [4]:
# A List of English contractions from https://en.wikipedia.org/wiki/Wikipedia%3aList_of_English_contractions
c_dict = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he's": "he is",
"how'd": "how did",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'll": "i will",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'll": "it will",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"must've": "must have",
"mustn't": "must not",
"needn't": "need not",
"oughtn't": "ought not",
"shan't": "shall not",
"sha'n't": "shall not",
"she'd": "she would",
"she'll": "she will",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"that'd": "that would",
"that's": "that is",
"there'd": "there had",
"there's": "there is",
"they'd": "they would",
"they'll": "they will",
"they're": "they are",
"they've": "they have",
"wasn't": "was not",
"we'd": "we would",
"we'll": "we will",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"where'd": "where did",
"where's": "where is",
"who'll": "who will",
"who's": "who is",
"won't": "will not",
"wouldn't": "would not",
"you'd": "you would",
"you'll": "you will",
"you're": "you are",
"1st": "first",
"2nd": "second",
"3rd": "third",
"4th": "forth",
"5th": "fifth",
"6th": "sixth",
"7th": "seventh",
"8th": "eighth",
"9th": "ninth"
}

# 2. Text Filtering
</br> Four-step raw tex filter, using [nltk](https://www.nltk.org) libraries. Filter includes:
* Constructions filter (special thanks for [arturomp](https://stackoverflow.com/users/583834/arturomp) for [converting](https://stackoverflow.com/posts/19794953/revisions) wikipedia contraction-to-expansion page into a python dictionary)
* Stopwords filter
* Unwanted characters filter

In [5]:
def text_filter(text):
    
    # Convert words to lower case
    text = text.lower()

    # Remove constructions
    text = text.split()
    new_text = []
    for word in text:
        if word in c_dict:
            new_text.append(c_dict[word])
        else:
            new_text.append(word)
    text = " ".join(new_text)

    # Remove unwanted characters
    text = re.sub(r'https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)
    text = re.sub(r'[_"\-;%()|+&=*%.,!?:#$@\[\]/]', ' ', text)
    text = re.sub(r'\<a href', ' ', text)
    text = re.sub(r'&amp;', '', text) 
    text = re.sub(r'<br />', ' ', text)
    text = re.sub(r'\'', ' ', text)

    # Remove SW
    text = text.split()
    sw = set(nltk.corpus.stopwords.words("english"))
    text = [w for w in text if not w in sw]
    text = " ".join(text)

    # Split numbers and words
    text = text.split()
    new_text2 = []
    for word in text:
        if (word.isalpha() or word.isdigit()):
            new_text2.append(word)
        else:
            for i in range(0,len(word)-1):
                if ((word[i].isdigit() and word[i+1].isalpha()) or (word[i+1].isdigit() and word[i].isalpha())):
                    word1 = word[0:(i+1)]
                    word2 = word[(i+1):len(word)]
                    new_text2.append(word1)
                    new_text2.append(word2)
    text = " ".join(new_text2)

    # Tokenization
    text =  nltk.WordPunctTokenizer().tokenize(text)
        
    return text

def lemmatizing(text):
    lemm = nltk.stem.WordNetLemmatizer()
    df['TokenizedText'] = list(map(lambda word:
                                     list(map(lemm.lemmatize, word)),
                                     df['TokenizedText']))

In [6]:
df['TokenizedText'] = list(map(text_filter, df['Text']))
lemmatizing(df['TokenizedText'])
df.head(7)

,Text,Class,True class,TokenizedText
0,Fashion Groom Wedding Shoes,0,2,"[fashion, groom, wedding, shoe]"
1,"Seasons come, and seasons go. As do trends in ...",2,2,"[season, come, season, go, trend, fashion, fas..."
2,I am to preserve our African tales through my ...,2,2,"[preserve, african, tale, craft, story, let, n..."
3,Being early for work: the aesthetic.,0,0,"[early, work, aesthetic]"
4,Moonward aiming set! Scarf and lil hat are cute!,2,2,"[moonward, aiming, set, scarf, lil, hat, cute]"
5,Dolores O'Riordan (born 1971 - died 2018) was ...,4,4,"[dolores, riordan, born, 1971, died, 2018, one..."
6,Arsenal's game away to Birmingham in the Barcl...,0,0,"[arsenal, game, away, birmingham, barclaysfaws..."

In [7]:
# Creating full corpus of words
corpus = []
for i in range(0, len(df)):
    corpus.append(df.loc[i, 'TokenizedText'])
    # w_list = df.loc[i, 'Tokenized Text']
    # for j in range (0, len(w_list)):
    #     corpus.append(w_list[j])
# corpus = set(corpus)

# 3. TF-IDF
</br> This part count TF-IDF vectors for dataset based on the tokenized words

In [8]:
def tf(text):
    d = {}
    tf_text = collections.Counter(text)
    for i in tf_text:
        d[i] = tf_text[i]/float(len(text))
    return d
def idf(word, corpus):
        return math.log10(len(corpus)/sum([1.0 for i in corpus if word in i]))

In [9]:
df['TF-IDF sum']=0
df['TF-IDF'] = 0
df['Words quantity'] = 0
list =[]
for i in range(0, len(df)):
    word_list = df.TokenizedText[i]
    wv = []
    t_f = tf(word_list)
    for j in range(0, len(word_list)):
        id_f = idf(word_list[j], corpus)
        t_f[word_list[j]] = t_f[word_list[j]] * id_f 
        wv.append(t_f[word_list[j]])
    # Addind the TF-IDF sum in the "TF-IDF sum" column
    df.loc[i, ['Words quantity']] = len(word_list)
    df.loc[i, ['TF-IDF sum']] = sum(t_f.values())
    # print(wv)
    list.append(wv)
    t_f.clear()
df['TF-IDF'] = list
df.head(7)

,Text,Class,True class,TokenizedText,TF-IDF sum,TF-IDF,Words quantity
0,Fashion Groom Wedding Shoes,0,2,"[fashion, groom, wedding, shoe]",2.063353,"[0.2829483958135122, 0.6185540660190638, 0.543...",4
1,"Seasons come, and seasons go. As do trends in ...",2,2,"[season, come, season, go, trend, fashion, fas...",2.517280,"[0.1560130227290244, 0.07066937557052548, 0.29...",24
2,I am to preserve our African tales through my ...,2,2,"[preserve, african, tale, craft, story, let, n...",2.206634,"[0.274912918230695, 0.2414651409346971, 0.2749...",9
3,Being early for work: the aesthetic.,0,0,"[early, work, aesthetic]",1.991830,"[0.6240520909160976, 0.5430394080206661, 0.824...",3
4,Moonward aiming set! Scarf and lil hat are cute!,2,2,"[moonward, aiming, set, scarf, lil, hat, cute]",2.320048,"[0.3534594662966079, 0.3534594662966079, 0.285...",7
5,Dolores O'Riordan (born 1971 - died 2018) was ...,4,4,"[dolores, riordan, born, 1971, died, 2018, one...",2.389087,"[0.10757462017722849, 0.10757462017722849, 0.1...",23
6,Arsenal's game away to Birmingham in the Barcl...,0,0,"[arsenal, game, away, birmingham, barclaysfaws...",2.053601,"[0.1536226930274302, 0.11340125108278887, 0.19...",13

# 4. Filtered Data output
</br> Data is output to files by categories for Logistic Regression and to one file for other types of algorithms.

In [10]:
# Creating uniq files for each class for logistic regression
for i in range(0, len(z)):
    df['Label'] = 0
    df['True Label'] = 0
    df.loc[df['True class'] == i, ['True Label']] = 1
    df.loc[df['Class'] == i, ['Label']] = 1
    locals()[z[i]] = df [['TokenizedText', 'TF-IDF', 'TF-IDF sum', 'Words quantity', 'Label', 'True Label']]
    name = z[i]+'.csv'
    locals()[z[i]].to_csv(name, sep=';', encoding='utf-8', index=False)
# Creating the final dataset
df = df[['TokenizedText', 'TF-IDF', 'TF-IDF sum', 'Words quantity', 'Class', 'True class']]
df.to_csv('FilteredData.csv', sep=';', encoding='utf-8', index=False)
df.head(7)

,TokenizedText,TF-IDF,TF-IDF sum,Words quantity,Class,True class
0,"[fashion, groom, wedding, shoe]","[0.2829483958135122, 0.6185540660190638, 0.543...",2.063353,4,0,2
1,"[season, come, season, go, trend, fashion, fas...","[0.1560130227290244, 0.07066937557052548, 0.29...",2.517280,24,2,2
2,"[preserve, african, tale, craft, story, let, n...","[0.274912918230695, 0.2414651409346971, 0.2749...",2.206634,9,2,2
3,"[early, work, aesthetic]","[0.6240520909160976, 0.5430394080206661, 0.824...",1.991830,3,0,0
4,"[moonward, aiming, set, scarf, lil, hat, cute]","[0.3534594662966079, 0.3534594662966079, 0.285...",2.320048,7,2,2
5,"[dolores, riordan, born, 1971, died, 2018, one...","[0.10757462017722849, 0.10757462017722849, 0.1...",2.389087,23,4,4
6,"[arsenal, game, away, birmingham, barclaysfaws...","[0.1536226930274302, 0.11340125108278887, 0.19...",2.053601,13,0,0